.field {
  user-select: none;
  margin: auto;
  position: relative;
  display: inline-block;
  width: fit-content;
  height: fit-content;
  border: 2px solid black;
}

#field-img {
  user-select: none;
  margin: auto;
  align-self: center;
  width: auto;
  height: 100%;
}

.player-card {
  position: absolute;
  cursor: move;
  margin: 10px;
  padding: 10px;
  width: 120px;
  height: 120px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.player-card .player-name {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

.player-card .player-position {
  margin: 0;
  font-size: 16px;
  text-align: center;
}

.player-card .player-shirt-number {
  margin: 0;
  font-size: 16px;
  text-align: center;
}

.player-card img {
  width: 50px;
  height: 52px;
  border-radius: 50%;
  padding: 2px;
  border: 2px solid rgb(0, 0, 0);
}